<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="icon" href="../../image/logo-min.png" type="image/x-icon">
    <!-- reset.css -->
    <link rel="stylesheet" href="../../css/reset.css">
    <!-- style.css -->
    <link rel="stylesheet" href="./page_404.css">
</head>

<body>

    <!-- Header start -->
    <header class="header">
        <div class="wrapper">

            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="../../image/logo-min.png" alt="Коріння">
                    </a>
                </div>

                <div class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="#!" class="header__link">Menu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header end -->

    <!-- main -->
    <main class="main">
        <div class="wrapper">
            <div class="wrapper__page">
                <h2 class="page-found">
                    Page not found
                </h2>
                <a href="#!" class="link-found">
                    <h2>go back home</h2>
                    <img src="../../image/not-found-arrow.svg" alt="">
                </a>
            </div>
        </div>
    </main>
    <!-- main -->


    <!-- link jquery file -->
    <script src="../../libs/jquery-3.6.0.min.js"></script>
    <!-- link js file -->
    <script src="../../js/main.js"></script>
</body>

</html>