<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>George Ivanchenko</title>
    <link rel="icon" href="../../image/logo-min.png" type="image/x-icon">
    <!-- style.css -->
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

    <!-- Header start -->
    <header class="header">
        <div class="wrapper">

            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="../../image/logo-min.png" alt="Коріння">
                    </a>
                </div>

                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../series/series.html" class="header__link">Series</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../../components/exhibition/exhibition.html" class="header__link">EXHIBITIONS</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../forefathers/forefathers.html" class="header__link">forefathers</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../descendants/descendants.html" class="header__link">Descendants</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../about/about.html" class="header__link">About us</a>
                        </li>
                    </ul>
                    <div class="header__nav-menu">
                        <a href="/" class="header__logo-link">
                            <img src="../../image/logo-close.svg" alt="Коріння">
                        </a>
                        <h2 class="header__nav-search">search</h2>
                        <h2 class="header__nav-close">close</h2>
                    </div>
                    <div class="header__nav-lang">
                        <a href="#!" class="language header__nav-lang_ua ">укр</a>
                        <a href="#!" class="language header__nav-lang_en">eng</a>
                    </div>
                </nav>

                <div class="header__menu menu">
                    Menu
                </div>
            </div>
        </div>
    </header>
    <!-- Header end -->

    <!-- main -->
    <main class="main">

        <!-- biography-intro start -->
        <section class="biography-intro">
            <div class="wrapper">
                <div class="biography__wrap">
                    <div class="biography-intro__text">
                        <div class="biography-intro__greetings">
                            <span>This is</span>
                            <h2 class="biography-intro__title">
                                George Ivanchenko
                            </h2>
                        </div>
                        <p class="biography-intro__subtitle">
                            Documentary photojournalism <br>
                            Street photography
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- biography-intro end -->

        <!-- about start -->
        <section class="about">
            <div class="wrapper">

                <div class="about__wrapper">
                    <div class="about__infro">
                        <div class="about__infro-mail">
                            <span>e-mail</span>
                            <a href="mailto:chekpett@gmail.com">chekpett@gmail.com</a>
                        </div>

                        <div class="about__infro-inst">
                            <span>instagram</span>
                            <a href="#!">@allotrioph</a>
                        </div>

                        <div class="about__infro-facebook">
                            <span>facebook</span>
                            <a href="#!">George Allotrioph</a>
                        </div>
                        <div class="about__info-george">
                            <div class="about__info-descr">
                                <span>about</span>
                                <a href="#!">Born on June 19, 2000 in the village of Pylypovychi, Borodyanka community,
                                    Buchach district, Kyiv region.
                                    Studying at the Faculty of Journalism at Lviv Polytechnic University.</a>
                            </div>
                        </div>
                    </div>

                    <div class="about__expedition">
                        <div>He started working as a photojournalist in 2022</div>
                        <p>with the beginning of the full-scale Russian invasion of Ukraine.</p>
                    </div>
                </div>

            </div>
        </section>
        <!-- about end -->

        <!-- expedition -->
        <section class="expedition">
            <div class="wrapper">
                <div class="expedition__photo">
                    <img src="../../image/expedition-intro.webp" alt="Expedition">
                    <div class="expedition__photo-text">
                        <h4 class="expedition__photo-text_title">The expedition way of war </h4>
                        <p class="expedition__photo-text_descr">from the beginning of the full-scale invasion to the
                            present day </p>
                    </div>
                </div>
                <div class="expedition__descr">
                    <p class="expedition__descr-about">About</p>
                    <div class="expedition__descr-text">
                        <p>
                            Starting as a volunteer at the Lviv railway station a documentarian in Kyiv and his hometown
                            - Borodyanka, he learns about the war and transmits it through photography from different
                            perspectives.
                        </p>
                        <p>
                            George studied the direction of the Russian army's advance in Chernihiv region and later had
                            expeditions to Kharkiv, Mykolaiv, Donetsk and Luhansk regions.
                            This experience gave impetus to the creation of the Ukrainian documentary-reflexive photo
                            association "Korinnya" which aims to unite and popularize Ukrainian photographers.
                            George still goes on expeditions to the front and near-front zones.</p>
                        <p>
                            George is a freelance reporter and collaborates with photo agencies: Associated Press and
                            European Pressphoto Agency, through which his photos have been published in New York Times,
                            The Guardian, The Journal, Journalisten, Clarin, San Francisco Chronicle, Usmission OSCE,
                            Polskie Radio, Outlook, Los Angeles Times, Novaya Gazeta: Europe, etc.
                            He also exhibits his works in group and individual exhibitions.
                        </p>
                        <p>
                            is works have also been published in: The Ukrainian (ua), NZL (ua), Ukrainer (ua) Center
                            for Strategic Communications and Information Security (ua).
                             </p>
                        <p>
                            "At 15 when I went to study in another city I put my old mother's Canon camera in my bag and
                            since then I became interested in photography. Most of all I was interested in life,
                            shadows, light, and geometry. "There is a game called" capture the moment. "I photographed
                            everything over time I began to pay attention to individual ordinary people in ordinary
                            towns and villages talked to them and took pictures from under the belly. With the beginning
                            of the full-scale invasion I volunteered for a week at the Lviv railway station and went to
                            Kyiv taking pictures of the daily life that raged there. When Kyiv region was liberated on
                            the first day he went to Borodyanka to myrelatives and then to Chernihiv, Kharkiv, Mykolaiv,
                            Kherson, and finally to the Lugansk and Donetsk oblast where i took photos of the fighting.”
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- expedition -->

        <!-- publications -->
        <section class="publications">
            <div class="wrapper">
                <h4 class="publications__title">
                    Exhibitions and publications:
                </h4>
                <div class="publications__item">
                    <div class="first-card publications__item-card">
                        <h4 class="publications__item-card_date">2022</h4>
                        <h3 class="publications__item-card_name">"Ukraine from the Inside.”</h3>
                        <p class="publications__item-card_descr">Brussels, Mechelen, Tournaut, Vorselaar</p>
                    </div>
                </div>

                <div class="publications__item">
                    <div class="second-card publications__item-card">
                        <h4 class="publications__item-card_date">2022</h4>
                        <h3 class="publications__item-card_name">Interview and live exhibition about street photo</h3>
                        <p class="publications__item-card_descr"> Lviv Art Center</p>
                    </div>
                </div>

                <div class="publications__item">
                    <div class="third-card publications__item-card">
                        <h4 class="publications__item-card_date">2022</h4>
                        <h3 class="publications__item-card_name">Zhmerynka - Vinnytsia street photo at festival "Ticket
                            to the sun"</h3>
                        <p class="publications__item-card_descr">Vinnytsia, Ukraine</p>
                    </div>
                </div>

                <div class="publications__item">
                    <div class="fourth-card publications__item-card">
                        <h4 class="publications__item-card_date">2021</h4>
                        <h3 class="publications__item-card_name">Street photography of Ukrainian cities at Lviv
                            event:“Nisenitnytsia</h3>
                    </div>
                </div>

                <div class="publications__item">
                    <div class="fifth-card publications__item-card">
                        <h4 class="publications__item-card_date">2022</h4>
                        <h3 class="publications__item-card_name">Kinurn Spit & Mountains at the festival "Air Fest
                            Vinnytsia"</h3>
                    </div>
                </div>
                <a href="#!" class="publications__link">see more</a>
            </div>
        </section>
        <!-- publications -->

        <!-- photos -->
        <section class="photos">
            <div class="wrapper">
                <div class="photos__cards">
                    <div class="photos__card">
                        <img src="../../image/photos-1.webp" alt="Works">
                        <p class="photos__card-descr">23.06.2022 Mykolaiv region "Starry sky" formed by an explosion of
                            ammunition in one of the grain hangars</p>
                    </div>

                    <div class="photos__card">
                        <img src="../../image/photos-2.webp" alt="Works">
                        <p class="photos__card-descr">14.11.2022 Kherson Day 4 of the celebration of Kherson's
                            liberation from occupation</p>
                    </div>

                    <div class="photos__card">
                        <img src="../../image/photos-3.webp" alt="Works">
                        <p class="photos__card-descr">06.01.2023 Bakhmut Donetsk region. 11-year-old Milana on her bunk
                            in a shelter</p>
                    </div>

                    <div class="photos__card">
                        <img src="../../image/photos-4.webp" alt="Works">
                        <p class="photos__card-descr">13.01.2023 Donetsk region Morgue.</p>
                    </div>

                    <div class="photos__card">
                        <img src="../../image/photos-5.webp" alt="Works">
                        <p class="photos__card-descr">15.11.2022 Kherson region View from the window</p>
                    </div>

                    <div class="photos__card">
                        <img src="../../image/photos-6.webp" alt="Works">
                        <p class="photos__card-descr">06.01.2023 Bakhmut, Donetsk region. 11-year-old Milana on her bunk
                            in a shelter</p>
                    </div>

                    <div class="photos__card">
                        <img src="../../image/photos-7.webp" alt="Works">
                        <p class="photos__card-descr">18.06.2022 Mykolaiv State Emergency Service of Ukraine
                            extinguishes fire caused by Russian shelling</p>
                    </div>

                    <div class="photos__card">
                        <img src="../../image/photos-8.webp" alt="Works">
                        <p class="photos__card-descr">22.06.2022 Mykolaiv </p>
                    </div>

                    <div class="photos__card">
                        <img src="../../image/photos-9.webp" alt="Works">
                        <p class="photos__card-descr">14.10.2022 Izyum, Kharkiv region</p>
                    </div>

                    <div class="photos__card">
                        <img src="../../image/photos-10.webp" alt="Works">
                        <p class="photos__card-descr">12.07.2022 Sloviansk Donetsk region
                            Pirogov First Volunteer Mobile Hospital.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- photos -->

        <!-- footer start -->
        <footer class="footer">
            <div class="wrapper">
                <div class="footer__sponsor">
                    <img src="../../image/footer-img-1.webp" alt="DW Academy" class="academy footer__sponsor-image">
                    <img src="../../image/footer-img-2.webp" alt="Together" class="together footer__sponsor-image">
                    <img src="../../image/footer-img-3.webp" alt="Fit" class="fit footer__sponsor-image">
                </div>
                <div class="footer__descr">
                    <div class="footer__project">
                        <p class="footer__project-sub">Created with the financial support of the European Union, its
                            content is
                            solely the responsibility of DW Akademie/ Media Fit Program for Southern and East Ukraine
                            Programs of Mediafit of Southern and Eastern Ukraine and do not necessarily reflect the
                            views
                            of the European Union</p>
                    </div>

                    <div class="footer__social">
                        <a href="#!" class="footer__link footer__instagram">instagram</a>
                        <a href="#!" class="footer__link footer__facebook">facebook</a>
                    </div>

                    <div class="footer__copy">
                        <span>COPYRIGHT 2023 </span>
                        <h5 class="footer__copy-label">bY KORINNYA</h5>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->

    </main>
    <!-- main -->


    <!-- link jquery file -->
    <script src="../../libs/jquery-3.6.0.min.js"></script>
    <!-- link js file -->
    <script src="./biography.js"></script>
</body>

</html>