<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exhibitions</title>
    <link rel="icon" href="../../image/logo-min.png" type="image/x-icon">
    <!-- style.css -->
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

    <!-- Header start -->
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="../../image/logo-min.png" alt="Коріння">
                    </a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../series/series.html" class="header__link">Series</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="./exhibition.html" class="header__link">EXHIBITIONS</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../forefathers/forefathers.html" class="header__link">forefathers</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../descendants/descendants.html" class="header__link">Descendants</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../about/about.html" class="header__link">About us</a>
                        </li>
                    </ul>
                    <div class="header__nav-menu">
                        <a href="/" class="header__logo-link">
                            <img src="../../image/logo-close.svg" alt="Коріння">
                        </a>
                        <h2 class="header__nav-search">search</h2>
                        <h2 class="header__nav-close">close</h2>
                    </div>
                    <div class="header__nav-lang">
                        <a href="#!" class="language header__nav-lang_ua ">укр</a>
                        <a href="#!" class="language header__nav-lang_en">eng</a>
                    </div>
                </nav>
                <div class="header__menu menu">
                    Menu
                </div>
            </div>
        </div>
    </header>
    <!-- Header end -->

    <!-- main -->
    <main class="main">
        <section class="exhibition__intro">
            <div class="wrapper">
                <div class="exhibition__wrapper">
                    <div class="exhibition__intro-text">
                        <p class="exhibition__intro-title firts-line">"Korinnia” is a platform</p>
                        <p class="exhibition__intro-title second-line">created by enthusiasts to unite Ukrainian
                            photographers and develop documentary and reflective photography</p>
                    </div>
                    <div class="exhibition__intro-buttons">
                        <a href="#!" class="ex__link exhibition__intro-buttons_link">exhibition</a>
                        <a href="#!" class="date__link exhibition__intro-buttons_link">13.03.2022</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="more">
            <div class="wrapper">
                <div class="more__video">
                    <img src="../../image/video.png" alt="Video">
                    <a class="more__video-link" href="#!">
                        <img src="../../image/play.svg" alt="Play">
                    </a>
                </div>

                <div class="more__descr">
                    <p class="more__descr-more">More</p>
                    <p class="more__descr-text">
                        <span>With the aim of forming a new community, Roots</span>
                        collected the works of
                        twenty-five photographers. In their works, we noticed not a dry reportage shot, but a personal
                        interaction with the experience and reflected reality. The exhibition features works created
                        after February 24.
                    </p>
                </div>

                <div class="gallery">
                    <div class="wrapper">
                        <div class="gallery__card">
                            <img src="../../image/gallery-photo-1.webp" alt="Gallery" class="gallery__card-pic">
                            <p class="uniq-descr"> All authors sent one photo that could best represent their
                                practice. This selection demonstrates a cross-section of contemporary Ukrainian
                                documentary photography. For us, the war is not a headline, it is a living phenomenon
                                that we look at through the camera lens. The war in the photographs of the selected
                                authors is represented not only literally, but also by the images it left its mark on.
                            </p>
                        </div>
                        <div class="gallery__card-location">
                            <p class="gallery__card-location_town">Kiyv</p>
                            <p class="gallery__card-location_descr">During the week of the exhibition, at least 10
                                thousand people learned about "Roots" on social media, more than 200 people saw the
                                photos in the Avangarden Gallery, and about 10 thousand hryvnias were raised, which
                                almost paid for the printing of the photos. On the first day, a photo by Petro
                                Chekal was sold, and half of the proceeds went to charity. Then the exhibition went
                                to Lviv and was held at the Dzyga Cultural Art Center.</p>
                        </div>

                        <div class="gallery__card">
                            <img src="../../image/gallery-photo-2.webp" alt="Gallery" class="cards gallery__card-pic">
                            <p class="gallery__card-descr">For the first time, we were able to prepare postcards with
                                photos of the photos and a qr code with a link to the author.
                            </p>
                        </div>

                        <div class="gallery__card">
                            <img src="../../image/gallery-photo-3.webp" alt="Gallery" class="cards gallery__card-pic">
                            <p class="gallery__card-descr">About 200 people also visited the exhibition.</p>
                        </div>

                        <div class="gallery__card">
                            <img src="../../image/gallety-photo-4.webp" alt="Gallery" class="cards gallery__card-pic">
                            <p class="gallery__card-descr">Our exhibition was visited by Polish documentary
                                photographers, one of whom is a professor at the Institute of Photography and Multimedia
                                in Lodz, one of the most prestigious photography schools in Europe. The next stop was
                                the city of Odesa
                            </p>
                        </div>

                        <div class="gallery__card">
                            <img src="../../image/gallery-photo-5.webp" alt="Gallery" class="cards gallery__card-pic">
                            <p class="gallery__card-descr">The exhibition was held in the artists' house on Torhova
                                Street 2, near the sea and the seaport. More people visited this place, about 400-500
                                people, and it lasted for two weeks. We were able to prepare postcards at the opening,
                                and people took about 100 of them with them and left us donations.
                            </p>
                        </div>

                        <div class="gallery__card">
                            <img src="../../image/gallery-photo-6.webp" alt="Gallery" class="cards gallery__card-pic">
                            <p class="gallery__card-descr">In Odesa, however, it was the most difficult because
                                blackouts began, and on the day the exhibition curator Taras Fedorenko arrived, kamikaze
                                drones flew over Odesa. That's why in our promo for the exhibition in Odesa we showed
                                that we were bringing light to the gallery, along with the photographs."
                            </p>
                        </div>

                        <div class="gallery__card">
                            <img src="../../image/gallery-photo-7.webp" alt="Gallery" class="cards gallery__card-pic">
                            <p class="gallery__card-descr">The exhibition was held in the artists' house on Torhova
                                Street 2, near the sea and the seaport. More people visited this place, about 400-500
                                people, and it lasted for two weeks. We were able to prepare postcards at the opening,
                                and people took about 100 of them with them and left us donations.
                            </p>
                        </div>

                        <div class="gallery__card">
                            <img src="../../image/gallery-photo-8.webp" alt="Gallery" class="cards gallery__card-pic">
                        </div>

                        <div class="gallery__card">
                            <img src="../../image/gallery-photo-9.webp" alt="Gallery" class="cards gallery__card-pic">
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="author">
            <div class="author__wrapper">
                <div class="wrapper">
                    <h4 class="author__title">Authors and curatorial groups:</h4>
                    <div class="team">
                        <h4 class="team__title">The authors</h4>
                        <div class="team__title-all">
                            <div>
                                <a href="#!" class="team__title-all_link">Dmytro Lobko</a>
                                <a href="#!" class="team__title-all_link">Yurko Dyachishyn</a>
                                <a href="#!" class="team__title-all_link">Bohdan Gulyai</a>
                                <a href="#!" class="team__title-all_link">Bohdan Gulyai</a>
                                <a href="#!" class="team__title-all_link">Sergey Lastochka</a>
                            </div>
                            <div>
                                <a href="#!" class="team__title-all_link">Vladyslav Krasnoshchok</a>
                                <a href="#!" class="team__title-all_link">Ksenia Kalev</a>
                                <a href="#!" class="team__title-all_link">George Ivanchenko</a>
                                <a href="#!" class="team__title-all_link">Anton Borysenko</a>
                                <a href="#!" class="team__title-all_link">Sashko Maka</a>
                                <a href="#!" class="team__title-all_link">Sophia Tchaikovsky</a>

                            </div>
                            <div>
                                <a href="#!" class="team__title-all_link">Daniil Russov</a>
                                <a href="#!" class="team__title-all_link">Lisa Bukreeva</a>
                                <a href="#!" class="team__title-all_link">Petro Chekal</a>
                                <a href="#!" class="team__title-all_link">Mykhailo Palinchak</a>
                                <a href="#!" class="team__title-all_link">Ihor Chekachkov</a>
                                <a href="#!" class="team__title-all_link">Vyacheslav Ratynskyi</a>
                            </div>
                            <div>
                                <a href="#!" class="team__title-all_link">Konstantin Guzenko</a>
                                <a href="#!" class="team__title-all_link">Nikita Kassel</a>
                                <a href="#!" class="team__title-all_link">Roman Bordun</a>
                                <a href="#!" class="team__title-all_link">Gennady Sushko</a>
                                <a href="#!" class="team__title-all_link">Taras Fedorenko</a>
                                <a href="#!" class="team__title-all_link">Anton Kuleba</a>
                            </div>
                        </div>
                    </div>

                    <div class="curator">
                        <h4 class="team__title">Curator group</h4>
                        <div class="team__title-all">
                            <div>
                                <a href="#!" class="team__title-all_link">Taras Fedorenko</a>
                                <a href="#!" class="team__title-all_link">George Ivanchenko</a>
                                <a href="#!" class="team__title-all_link">Alya Segal</a>
                                <a href="#!" class="team__title-all_link">Petro Chekal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer start -->
        <footer class="footer">
            <div class="wrapper">
                <div class="footer__sponsor">
                    <img src="../../image/footer-img-1.webp" alt="DW Academy" class="academy footer__sponsor-image">
                    <img src="../../image/footer-img-2.webp" alt="Together" class="together footer__sponsor-image">
                    <img src="../../image/footer-img-3.webp" alt="Fit" class="fit footer__sponsor-image">
                </div>
                <div class="footer__descr">
                    <div class="footer__project">
                        <p class="footer__project-sub">Created with the financial support of the European Union, its
                            content is
                            solely the responsibility of DW Akademie/ Media Fit Program for Southern and East Ukraine
                            Programs of Mediafit of Southern and Eastern Ukraine and do not necessarily reflect the
                            views
                            of the European Union</p>
                    </div>
                    <div class="footer__social">
                        <a href="#!" class="footer__link footer__instagram">instagram</a>
                        <a href="#!" class="footer__link footer__facebook">facebook</a>
                    </div>
                    <div class="footer__copy">
                        <span>COPYRIGHT 2023 </span>
                        <h5 class="footer__copy-label">bY KORINNYA</h5>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->
    </main>
    <!-- main -->

    <!-- link jquery file -->
    <script src="../../libs/jquery-3.6.0.min.js"></script>
    <!-- link js file -->
    <script src="./exhibition.js"></script>
</body>

</html>