<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series</title>
    <link rel="icon" href="../../image/logo-min.png" type="image/x-icon">
    <!-- reset.css -->
    <link rel="stylesheet" href="../../css/reset.css">
    <!-- style.css -->
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

    <!-- Header start -->
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="../../image/logo-min.png" alt="Коріння">
                    </a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="./series.html" class="header__link">Series</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../../components/exhibition/exhibition.html" class="header__link">EXHIBITIONS</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../forefathers/forefathers.html" class="header__link">forefathers</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../descendants/descendants.html" class="header__link">Descendants</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../about/about.html" class="header__link">About us</a>
                        </li>
                    </ul>
                    <div class="header__nav-menu">
                        <a href="/" class="header__logo-link">
                            <img src="../../image/logo-close.svg" alt="Коріння">
                        </a>
                        <h2 class="header__nav-search">search</h2>
                        <h2 class="header__nav-close">close</h2>
                    </div>
                    <div class="header__nav-lang">
                        <a href="#!" class="language header__nav-lang_ua ">укр</a>
                        <a href="#!" class="language header__nav-lang_en">eng</a>
                    </div>
                </nav>
                <div class="header__menu menu">
                    Menu
                </div>
            </div>
        </div>
    </header>
    <!-- Header end -->

    <!-- main -->
    <main class="main">
        <section class="series__intro">
            <div class="wrapper">
                <div class="series__wrapper">
                    <div class="series__intro-text">
                        <span class="series__intro-title firts-line">One of the main areas</span>
                        <span class="series__intro-title second-line">of Korinya's work</span>
                        <span class="series__intro-title second-line">is research and dissemination ofUkrainian </span>
                        <span class="series__intro-title third-line">documentary photography.</span>
                    </div>
                    <div class="series__intro-descr">
                        <p class="series__intro-subtitle">
                            With the help of our team, you will be able to familiarize yourself with the collection of
                            unique series and projects of Ukrainian documentary photographers. Our main goal is to show
                            the diversity of our country through the lenses of Ukrainian photographers.
                            In our collection, you will find photographs that capture a variety of subjects, from
                            unforgettable moments from the lives of rural residents to images of megacities and their
                            inhabitants. Our photographers show our country from new angles, revealing hidden sides and
                            unusual details of everyday life.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="series__works">
            <div class="wrapper">
                <div class="normal-card series__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-1.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">Expedition way of war</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">George Ivanchenko</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->

                    <!-- 2 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-2.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">Looking for a home</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Petro Chekal</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 2 -->
                </div>

                <div class="big-card series__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-3.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">Chronicles of war</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Vladislav Krasnoshchok</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->
                </div>

                <div class="small-card series__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-1.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">George Ivanchenko</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Documentary</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->

                    <!-- 2 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-1.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">George Ivanchenko</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Documentary</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 2 -->

                    <!-- 3 -->
                    <a href="#!" class="card-sm series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-1.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">George Ivanchenko</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Documentary</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 3 -->
                </div>

                <div class="normal-card series__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-1.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">Expedition way of war</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">George Ivanchenko</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->

                    <!-- 2 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-2.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">Looking for a home</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Petro Chekal</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 2 -->
                </div>

                <div class="big-card series__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-3.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">Chronicles of war</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Vladislav Krasnoshchok</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->
                </div>

                <div class="small-card series__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-1.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">George Ivanchenko</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Documentary</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->

                    <!-- 2 -->
                    <a href="#!" class="series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-1.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">George Ivanchenko</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Documentary</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 2 -->

                    <!-- 3 -->
                    <a href="#!" class="card-sm series__works-link">
                        <div class="series__works-card">
                            <div class="series__works-pic">
                                <img src="../../image/series-baner-1.webp" alt="Work" class="series__works-thumb">
                                <div class="series__works-text">
                                    <h3 class="series__works-title">George Ivanchenko</h3>
                                </div>
                                <div class="series__works-descr">
                                    <div class="series__works-name">
                                        <span class="series__works-author">Documentary</span>
                                    </div>
                                    <div class="series__works-dates">
                                        <span class="series__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 3 -->
                </div>
                <a href="#!" class="series__button">10 more episodes</a>
            </div>
        </section>

        <!-- footer start -->
        <footer class="footer">
            <div class="wrapper">
                <div class="footer__sponsor">
                    <img src="../../image/footer-img-1.webp" alt="DW Academy" class="academy footer__sponsor-image">
                    <img src="../../image/footer-img-2.webp" alt="Together" class="together footer__sponsor-image">
                    <img src="../../image/footer-img-3.webp" alt="Fit" class="fit footer__sponsor-image">
                </div>
                <div class="footer__descr">
                    <div class="footer__project">
                        <p class="footer__project-sub">Created with the financial support of the European Union, its
                            content is
                            solely the responsibility of DW Akademie/ Media Fit Program for Southern and East Ukraine
                            Programs of Mediafit of Southern and Eastern Ukraine and do not necessarily reflect the
                            views
                            of the European Union</p>
                    </div>
                    <div class="footer__social">
                        <a href="#!" class="footer__link footer__instagram">instagram</a>
                        <a href="#!" class="footer__link footer__facebook">facebook</a>
                    </div>
                    <div class="footer__copy">
                        <span>COPYRIGHT 2023 </span>
                        <h5 class="footer__copy-label">bY KORINNYA</h5>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->
    </main>
    <!-- main -->

    <!-- link jquery file -->
    <script src="../../libs/jquery-3.6.0.min.js"></script>
    <!-- link js file -->
    <script src="./series.js"></script>
</body>

</html>