<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expedition</title>
    <link rel="icon" href="../../image/logo-min.png" type="image/x-icon">
    <!-- style.css -->
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

    <!-- Header start -->
    <header class="header">
        <div class="wrapper">

            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="../../image/logo-min.png" alt="Коріння">
                    </a>
                </div>

                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../series/series.html" class="header__link">Series</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../../components/exhibition/exhibition.html" class="header__link">EXHIBITIONS</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../forefathers/forefathers.html" class="header__link">forefathers</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../descendants/descendants.html" class="header__link">Descendants</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../about/about.html" class="header__link">About us</a>
                        </li>
                    </ul>
                    <div class="header__nav-menu">
                        <a href="/" class="header__logo-link">
                            <img src="../../image/logo-close.svg" alt="Коріння">
                        </a>
                        <h2 class="header__nav-search">search</h2>
                        <h2 class="header__nav-close">close</h2>
                    </div>
                    <div class="header__nav-lang">
                        <a href="#!" class="language header__nav-lang_ua ">укр</a>
                        <a href="#!" class="language header__nav-lang_en">eng</a>
                    </div>
                </nav>

                <div class="header__menu menu">
                    Menu
                </div>
            </div>
        </div>
    </header>
    <!-- Header end -->

    <!-- main -->
    <main class="main">

        <!-- expedition-intro start -->
        <section class="expedition-intro">
            <div class="wrapper">
                <div class="expedition__wrap">
                    <div class="expedition-intro__text">
                        <div class="expedition-intro__greetings">
                            <span>the</span>
                            <h2 class="expedition-intro__title">
                                expedition way of war by George Ivanchenko
                            </h2>
                        </div>
                        <p class="expedition-intro__subtitle">
                            from the beginning of the full-scale invasion to <br> the present day
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- expedition-intro end -->

        <!-- about start -->
        <section class="about">
            <div class="wrapper">

                <div class="about__infro">
                    <div class="about__infro-mail">
                        <span>e-mail</span>
                        <a href="mailto:vodkadry@icloud.com">vodkadry@icloud.com</a>
                    </div>

                    <div class="about__infro-inst">
                        <span>instagram</span>
                        <a href="#!">@allotrioph</a>
                    </div>

                    <div class="about__infro-facebook">
                        <span>facebook</span>
                        <a href="#!">George Ivanchenko</a>
                    </div>
                    <div class="about__info-george">
                        <div class="about__info-descr">
                            <span>about</span>
                            <a href="#!">My name is George, some journalists call me "Jungle George", and in fact, this
                                is a pretty apt description of how I work with photography at the front.</a>
                        </div>
                    </div>
                </div>

                <div class="about__expedition">
                    <div>It all started with a large-scale russian offensive on the territory of Ukraine.</div>
                    <p>I was in Lviv, and it immediately became clear that something globally important and terrible was
                        happening And every shot would not be the same as before.
                    </p>
                </div>

            </div>
        </section>
        <!-- about end -->

        <!-- expedition-item start -->
        <section class="expeditiom-item">
            <div class="wrapper">
                <!-- 1 -->
                <div class="expedition-item__first">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="first-slider mySlides fade">
                            <img src="../../image/expedition-slider-1.webp" style="width:100%">
                        </div>

                        <div class="first-slider mySlides fade">
                            <img src="../../image/expedition-slider-2.webp" style="width:100%">
                        </div>

                        <div class="first-slider mySlides fade">
                            <img src="../../image/expedition-slider-3.webp" style="width:100%">
                        </div>

                        <div class="first-slider mySlides fade">
                            <img src="../../image/expedition-slider-4.webp" style="width:100%">
                        </div>

                        <div class="first-slider mySlides fade">
                            <img src="../../image/expedition-slider-5.webp" style="width:100%">
                        </div>

                        <div class="first-slider mySlides fade">
                            <img src="../../image/expedition-slider-6.webp" style="width:100%">
                        </div>

                        <div class="slider-navigation">
                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="plusSlides(-1)">попер</a>

                            <!-- The dots/circles -->
                            <div>
                                <span class="dot" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                                <span class="dot" onclick="currentSlide(4)"></span>
                                <span class="dot" onclick="currentSlide(5)"></span>
                                <span class="dot" onclick="currentSlide(6)"></span>
                            </div>

                            <!-- Next and previous buttons -->
                            <a class="next" onclick="plusSlides(1)">наступний</a>
                        </div>

                    </div>

                    <div class="expeditiom-item__text">
                        <p class="expeditiom-item__title">
                            06.02.2022 LVIV
                            Nastia Horokh and their cat a couple who evacuated from Vinnytsia. The moment of deciding
                            that
                            Nastia should be sent farther away from the war to the Czech Republic and understanding the
                            long
                            separation
                        </p>
                        <p class="expeditiom-item__descr">
                            I had been volunteering and taking pictures at the Lviv railway station for a week when a
                            Chilean journalist asked me if I could help him catch a train to Kyiv. To Kyiv, where
                            thousands
                            of people are leaving to save themselves, their children, and their animals. It inspired me,
                            and
                            I realized that I wanted to go there, to a place where something even more important was
                            happening, and that I had to capture it.
                        </p>
                    </div>
                </div>
                <!-- 1 -->

                <!-- 2 -->
                <div class="expedition-item__first">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="second-slider mySlides fade">
                            <img src="../../image/expedition-slider-1.webp" style="width:100%">
                        </div>

                        <div class="second-slider mySlides fade">
                            <img src="../../image/expedition-slider-2.webp" style="width:100%">
                        </div>

                        <div class="second-slider mySlides fade">
                            <img src="../../image/expedition-slider-3.webp" style="width:100%">
                        </div>

                        <div class="second-slider mySlides fade">
                            <img src="../../image/expedition-slider-4.webp" style="width:100%">
                        </div>

                        <div class="second-slider mySlides fade">
                            <img src="../../image/expedition-slider-5.webp" style="width:100%">
                        </div>

                        <div class="second-slider mySlides fade">
                            <img src="../../image/expedition-slider-6.webp" style="width:100%">
                        </div>

                        <div class="slider-navigation">
                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="secondPlusSlides(-1)">попер</a>

                            <!-- The dots/lines -->
                            <div>
                                <span class="second-slider__dots dot" onclick="secondCurrentSlide(1)"></span>
                                <span class="second-slider__dots dot" onclick="secondCurrentSlide(2)"></span>
                                <span class="second-slider__dots dot" onclick="secondCurrentSlide(3)"></span>
                                <span class="second-slider__dots dot" onclick="secondCurrentSlide(4)"></span>
                                <span class="second-slider__dots dot" onclick="secondCurrentSlide(5)"></span>
                                <span class="second-slider__dots dot" onclick="secondCurrentSlide(6)"></span>
                            </div>

                            <!-- Next and previous buttons -->
                            <a class="next" onclick="secondPlusSlides(1)">наступний</a>
                        </div>

                    </div>

                    <div class="expeditiom-item__text">
                        <p class="expeditiom-item__title">
                            23.03.2022 Kyiv Members of the KOSMOSTABIR Cultural Organization who have retrained to make
                            armored jets and tank hedgehogs relax after a day's work
                        </p>
                        <p class="second-slide__descr expeditiom-item__descr">
                            The next day I was already in Kyiv, me and my backpack. I lived and worked with the cultural
                            community KOSMOSTABIR, which started sewing tile carriers and cooking anti-tank hedgehogs.
                            We were traveling, carrying out missions, and keeping the cultural front.
                        </p>
                        <p class="expeditiom-item__descr">
                            In the first days of the liberation of the Kyiv region, I got on a volunteer bus and went to
                            Borodyanka. Three kilometers away, my small homeland is the village of Pylypovychi, where my
                            grandparents stayed. But nothing compares to the moment I entered Borodyanka: the air was
                            yellow with dust and heavy with the realization of what had happened here. I spent three
                            days with the rescuers, searching the village for footage, accompanied by constant
                            flashbacks from my childhood.
                        </p>
                    </div>
                </div>
                <!-- 2 -->

                <!-- 3 -->
                <div class="expedition-item__first">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="third-slider mySlides fade">
                            <img src="../../image/expedition-slider-1.webp" style="width:100%">
                        </div>

                        <div class="third-slider mySlides fade">
                            <img src="../../image/expedition-slider-2.webp" style="width:100%">
                        </div>

                        <div class="third-slider mySlides fade">
                            <img src="../../image/expedition-slider-3.webp" style="width:100%">
                        </div>

                        <div class="third-slider mySlides fade">
                            <img src="../../image/expedition-slider-4.webp" style="width:100%">
                        </div>

                        <div class="third-slider mySlides fade">
                            <img src="../../image/expedition-slider-5.webp" style="width:100%">
                        </div>

                        <div class="third-slider mySlides fade">
                            <img src="../../image/expedition-slider-6.webp" style="width:100%">
                        </div>

                        <div class="slider-navigation">
                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="thirdPlusSlides(-1)">попер</a>

                            <!-- The dots/lines -->
                            <div>
                                <span class="third-slider__dots dot" onclick="thirdCurrentSlide(1)"></span>
                                <span class="third-slider__dots dot" onclick="thirdCurrentSlide(2)"></span>
                                <span class="third-slider__dots dot" onclick="thirdCurrentSlide(3)"></span>
                                <span class="third-slider__dots dot" onclick="thirdCurrentSlide(4)"></span>
                                <span class="third-slider__dots dot" onclick="thirdCurrentSlide(5)"></span>
                                <span class="third-slider__dots dot" onclick="thirdCurrentSlide(6)"></span>
                            </div>

                            <!-- Next and previous buttons -->
                            <a class="next" onclick="thirdPlusSlides(1)">наступний</a>
                        </div>

                    </div>

                    <div class="expeditiom-item__text">
                        <p class="expeditiom-item__title">
                            07.04.2022 Borodyanka, Kyiv regionAn apartment building that was hit by a bomb.
                            People were hiding in the basement of this building
                        </p>
                        <div class="about__expedition">
                            <div>
                                This is where my expeditions began. In fact, there was only one, just a very long one.
                            </div>
                            <p>
                                The next time, together with a Belarusian journalist Dmytro Galko, who has been living
                                in
                                Ukraine for a long time, we studied the ways of attack in Chernihiv region, and it took
                                about 3 weeks.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 3 -->

                <!-- 4 -->
                <div class="expedition-item__first">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="fourth-slider mySlides fade">
                            <img src="../../image/expedition-slider-1.webp" style="width:100%">
                        </div>

                        <div class="fourth-slider mySlides fade">
                            <img src="../../image/expedition-slider-2.webp" style="width:100%">
                        </div>

                        <div class="fourth-slider mySlides fade">
                            <img src="../../image/expedition-slider-3.webp" style="width:100%">
                        </div>

                        <div class="fourth-slider mySlides fade">
                            <img src="../../image/expedition-slider-4.webp" style="width:100%">
                        </div>

                        <div class="fourth-slider mySlides fade">
                            <img src="../../image/expedition-slider-5.webp" style="width:100%">
                        </div>

                        <div class="fourth-slider mySlides fade">
                            <img src="../../image/expedition-slider-6.webp" style="width:100%">
                        </div>

                        <div class="slider-navigation">
                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="fourthPlusSlides(-1)">попер</a>

                            <!-- The dots/lines -->
                            <div>
                                <span class="fourth-slider__dots dot" onclick="fourthCurrentSlide(1)"></span>
                                <span class="fourth-slider__dots dot" onclick="fourthCurrentSlide(2)"></span>
                                <span class="fourth-slider__dots dot" onclick="fourthCurrentSlide(3)"></span>
                                <span class="fourth-slider__dots dot" onclick="fourthCurrentSlide(4)"></span>
                                <span class="fourth-slider__dots dot" onclick="fourthCurrentSlide(5)"></span>
                                <span class="fourth-slider__dots dot" onclick="fourthCurrentSlide(6)"></span>
                            </div>

                            <!-- Next and previous buttons -->
                            <a class="next" onclick="fourthPlusSlides(1)">наступний</a>
                        </div>

                    </div>

                    <div class="expeditiom-item__text">
                        <p class="expeditiom-item__title">
                            23.03.2022 Kyiv Members of the KOSMOSTABIR Cultural Organization who have retrained to make
                            armored jets and tank hedgehogs relax after a day's work
                        </p>
                    </div>
                </div>
                <!-- 4 -->


                <!-- 5 -->
                <div class="expedition-item__first">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="fifth-slider mySlides fade">
                            <img src="../../image/expedition-slider-1.webp" style="width:100%">
                        </div>

                        <div class="fifth-slider mySlides fade">
                            <img src="../../image/expedition-slider-2.webp" style="width:100%">
                        </div>

                        <div class="fifth-slider mySlides fade">
                            <img src="../../image/expedition-slider-3.webp" style="width:100%">
                        </div>

                        <div class="fifth-slider mySlides fade">
                            <img src="../../image/expedition-slider-4.webp" style="width:100%">
                        </div>

                        <div class="fifth-slider mySlides fade">
                            <img src="../../image/expedition-slider-5.webp" style="width:100%">
                        </div>

                        <div class="fifth-slider mySlides fade">
                            <img src="../../image/expedition-slider-6.webp" style="width:100%">
                        </div>

                        <div class="slider-navigation">
                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="fifthPlusSlides(-1)">попер</a>

                            <!-- The dots/lines -->
                            <div>
                                <span class="fifth-slider__dots dot" onclick="fifthCurrentSlide(1)"></span>
                                <span class="fifth-slider__dots dot" onclick="fifthCurrentSlide(2)"></span>
                                <span class="fifth-slider__dots dot" onclick="fifthCurrentSlide(3)"></span>
                                <span class="fifth-slider__dots dot" onclick="fifthCurrentSlide(4)"></span>
                                <span class="fifth-slider__dots dot" onclick="fifthCurrentSlide(5)"></span>
                                <span class="fifth-slider__dots dot" onclick="fifthCurrentSlide(6)"></span>
                            </div>

                            <!-- Next and previous buttons -->
                            <a class="next" onclick="fifthPlusSlides(1)">наступний</a>
                        </div>

                    </div>

                    <div class="expeditiom-item__text">
                        <p class="expeditiom-item__title">
                            27.04.2022 ZDVIZHIVKA, BUCHACHASKY DISTRICT, KYIV REGION Grandma tells the story of how the
                            Russians came into the basement and took away their last food. Her son, not in the military,
                            was held hostage in the church for several weeks
                        </p>
                        <div class="fifth-text about__expedition" style="margin-bottom: 100px;">
                            <div>
                                Then I spent a month in Kharkiv a month in Mykolaiv a month in Sloviansk and Kramatorsk
                            </div>
                            <p>
                                and after the liberation of Kharkiv region, Izyum, Balakliya, Lyman, Kherson region, and
                                Donbas, and a month in Bakhmut.
                            </p>
                        </div>
                        <p class="expeditiom-item__descr">
                            "You can do anything if you have a lot of money or a lot of time," Kapuscinski's words
                            aptly describe my lifestyle in these areas. I have no car, no money for a hotel or an
                            apartment. Just a camera, two legs, a backpack with a sleeping bag, and random
                            encounters and acquaintances that save you. Civilians in basements, doctors, soldiers,
                            volunteers, and rescuers become your friends, shelter, and food. There is something wild
                            in this, but living with them you stop being a purely journalist, you become a
                            participant in the events, you have a military lifestyle already planted in your head,
                            and you get used to it, and you just live, assimilate to the situation. And in
                            photography, this plays an important role, the role of trust and the naturalness of the
                            moment.
                        </p>
                    </div>
                </div>
                <!-- 5 -->

                <!-- 6 -->
                <div class="expedition-item__first">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="sixth-slider mySlides fade">
                            <img src="../../image/expedition-slider-1.webp" style="width:100%">
                        </div>

                        <div class="sixth-slider mySlides fade">
                            <img src="../../image/expedition-slider-2.webp" style="width:100%">
                        </div>

                        <div class="sixth-slider mySlides fade">
                            <img src="../../image/expedition-slider-3.webp" style="width:100%">
                        </div>

                        <div class="sixth-slider mySlides fade">
                            <img src="../../image/expedition-slider-4.webp" style="width:100%">
                        </div>

                        <div class="sixth-slider mySlides fade">
                            <img src="../../image/expedition-slider-5.webp" style="width:100%">
                        </div>

                        <div class="sixth-slider mySlides fade">
                            <img src="../../image/expedition-slider-6.webp" style="width:100%">
                        </div>

                        <div class="slider-navigation">
                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="sixthPlusSlides(-1)">попер</a>

                            <!-- The dots/lines -->
                            <div>
                                <span class="sixth-slider__dots dot" onclick="sixthCurrentSlide(1)"></span>
                                <span class="sixth-slider__dots dot" onclick="sixthCurrentSlide(2)"></span>
                                <span class="sixth-slider__dots dot" onclick="sixthCurrentSlide(3)"></span>
                                <span class="sixth-slider__dots dot" onclick="sixthCurrentSlide(4)"></span>
                                <span class="sixth-slider__dots dot" onclick="sixthCurrentSlide(5)"></span>
                                <span class="sixth-slider__dots dot" onclick="sixthCurrentSlide(6)"></span>
                            </div>

                            <!-- Next and previous buttons -->
                            <a class="next" onclick="sixthPlusSlides(1)">наступний</a>
                        </div>

                    </div>

                    <div class="expeditiom-item__text">
                        <p class="expeditiom-item__title">
                            11.05.2022 Tsirkuny, Kharkiv region Local girl and journalist Olga Musafirova hiding in the
                            basement from Russian shelling
                        </p>
                    </div>
                </div>
                <!-- 6 -->

                <!-- 7 -->
                <div class="expedition-item__first">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="seventh-slider mySlides fade">
                            <img src="../../image/expedition-slider-1.webp" style="width:100%">
                        </div>

                        <div class="seventh-slider mySlides fade">
                            <img src="../../image/expedition-slider-2.webp" style="width:100%">
                        </div>

                        <div class="seventh-slider mySlides fade">
                            <img src="../../image/expedition-slider-3.webp" style="width:100%">
                        </div>

                        <div class="seventh-slider mySlides fade">
                            <img src="../../image/expedition-slider-4.webp" style="width:100%">
                        </div>

                        <div class="seventh-slider mySlides fade">
                            <img src="../../image/expedition-slider-5.webp" style="width:100%">
                        </div>

                        <div class="seventh-slider mySlides fade">
                            <img src="../../image/expedition-slider-6.webp" style="width:100%">
                        </div>

                        <div class="slider-navigation">
                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="seventhPlusSlides(-1)">попер</a>

                            <!-- The dots/lines -->
                            <div>
                                <span class="seventh-slider__dots dot" onclick="seventhCurrentSlide(1)"></span>
                                <span class="seventh-slider__dots dot" onclick="seventhCurrentSlide(2)"></span>
                                <span class="seventh-slider__dots dot" onclick="seventhCurrentSlide(3)"></span>
                                <span class="seventh-slider__dots dot" onclick="seventhCurrentSlide(4)"></span>
                                <span class="seventh-slider__dots dot" onclick="seventhCurrentSlide(5)"></span>
                                <span class="seventh-slider__dots dot" onclick="seventhCurrentSlide(6)"></span>
                            </div>

                            <!-- Next and previous buttons -->
                            <a class="next" onclick="seventhPlusSlides(1)">наступний</a>
                        </div>

                    </div>

                    <div class="expeditiom-item__text" style="align-items: start;">
                        <p class="expeditiom-item__title">
                            18.06.2022 Mykolaiv State Emergency Service of Ukraine extinguishes fire caused by Russian shelling
                        </p>
                    </div>
                </div>
                <!-- 7 -->


            </div>
        </section>
        <!-- expedition-item end -->

        <!-- footer start -->
        <footer class="footer">
            <div class="wrapper">
                <div class="footer__sponsor">
                    <img src="../../image/footer-img-1.webp" alt="DW Academy" class="academy footer__sponsor-image">
                    <img src="../../image/footer-img-2.webp" alt="Together" class="together footer__sponsor-image">
                    <img src="../../image/footer-img-3.webp" alt="Fit" class="fit footer__sponsor-image">
                </div>
                <div class="footer__descr">
                    <div class="footer__project">
                        <p class="footer__project-sub">Created with the financial support of the European Union, its
                            content is
                            solely the responsibility of DW Akademie/ Media Fit Program for Southern and East Ukraine
                            Programs of Mediafit of Southern and Eastern Ukraine and do not necessarily reflect the
                            views
                            of the European Union</p>
                    </div>

                    <div class="footer__social">
                        <a href="#!" class="footer__link footer__instagram">instagram</a>
                        <a href="#!" class="footer__link footer__facebook">facebook</a>
                    </div>

                    <div class="footer__copy">
                        <span>COPYRIGHT 2023 </span>
                        <h5 class="footer__copy-label">bY KORINNYA</h5>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->

    </main>
    <!-- main -->


    <!-- link jquery file -->
    <script src="../../libs/jquery-3.6.0.min.js"></script>
    <!-- link js file -->
    <script src="./expedition.js"></script>
</body>

</html>