<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descendants</title>
    <link rel="icon" href="../../image/logo-min.png" type="image/x-icon">
    <!-- style.css -->
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

    <!-- Header start -->
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="../../image/logo-min.png" alt="Коріння">
                    </a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../series/series.html" class="header__link">Series</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../../components/exhibition/exhibition.html" class="header__link">EXHIBITIONS</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../forefathers/forefathers.html" class="header__link">forefathers</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../descendants/descendants.html" class="header__link">Descendants</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../about/about.html" class="header__link">About us</a>
                        </li>
                    </ul>
                    <div class="header__nav-menu">
                        <a href="/" class="header__logo-link">
                            <img src="../../image/logo-close.svg" alt="Коріння">
                        </a>
                        <h2 class="header__nav-search">search</h2>
                        <h2 class="header__nav-close">close</h2>
                    </div>
                    <div class="header__nav-lang">
                        <a href="#!" class="language header__nav-lang_ua ">укр</a>
                        <a href="#!" class="language header__nav-lang_en">eng</a>
                    </div>
                </nav>
                <div class="header__menu menu">
                    Menu
                </div>
            </div>
        </div>
    </header>
    <!-- Header end -->

    <!-- main -->
    <main class="main">
        <section class="descendants__intro">
            <div class="wrapper">
                <div class="descendants__wrapper">
                    <div class="descendants__intro-text">
                        <span class="descendants__intro-title firts-line">descendants, those who create modernity</span>
                        <span class="descendants__intro-title second-line">They study the past, combine and create
                            something new</span>
                    </div>
                    <div class="descendants__intro-descr">
                        <p class="descendants__intro-subtitle">
                            Our team works on studying Ukrainian photography from its roots, which allows us to discover
                            both new names and talk about the classics. Broadcast their biographies and works
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="descendants__works">
            <div class="wrapper">
                <div class="descendants__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="descendants__works-link">
                        <div class="descendants__works-card">
                            <div class="descendants__works-pic">
                                <img src="../../image/descendants_baner-1.webp" alt="Work"
                                    class="descendants__works-thumb">
                                <div class="descendants__works-text">
                                    <h3 class="descendants__works-title">George Ivanchenko</h3>
                                </div>
                                <div class="descendants__works-descr">
                                    <div class="descendants__works-name">
                                        <span class="descendants__works-author">Documentary</span>
                                    </div>
                                    <div class="descendants__works-dates">
                                        <span class="descendants__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->

                    <!-- 2 -->
                    <a href="#!" class="descendants__works-link">
                        <div class="descendants__works-card">
                            <div class="descendants__works-pic">
                                <img src="../../image/descendants_baner-2.webp" alt="Work"
                                    class="descendants__works-thumb">
                                <div class="descendants__works-text">
                                    <h3 class="descendants__works-title">Petro Chekal</h3>
                                </div>
                                <div class="descendants__works-descr">
                                    <div class="descendants__works-name">
                                        <span class="descendants__works-author">Documentary</span>
                                    </div>
                                    <div class="descendants__works-dates">
                                        <span class="descendants__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 2 -->
                </div>

                <div class="descendants__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="descendants__works-link">
                        <div class="descendants__works-card">
                            <div class="descendants__works-pic">
                                <img src="../../image/descendants_baner-3.webp" alt="Work"
                                    class="descendants__works-thumb">
                                <div class="descendants__works-text">
                                    <h3 class="descendants__works-title">Vladyslav Krasnoshchok</h3>
                                </div>
                                <div class="descendants__works-descr">
                                    <div class="descendants__works-name">
                                        <span class="descendants__works-author">Documentary</span>
                                    </div>
                                    <div class="descendants__works-dates">
                                        <span class="descendants__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->

                    <!-- 2 -->
                    <a href="#!" class="descendants__works-link">
                        <div class="descendants__works-card">
                            <div class="descendants__works-pic">
                                <img src="../../image/descendants_baner-4.webp" alt="Work"
                                    class="descendants__works-thumb">
                                <div class="descendants__works-text">
                                    <h3 class="descendants__works-title">Lisa Brookeeva</h3>
                                </div>
                                <div class="descendants__works-descr">
                                    <div class="descendants__works-name">
                                        <span class="descendants__works-author">Documentary</span>
                                    </div>
                                    <div class="descendants__works-dates">
                                        <span class="descendants__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 2 -->
                </div>

                <div class="descendants__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="descendants__works-link">
                        <div class="descendants__works-card">
                            <div class="descendants__works-pic">
                                <img src="../../image/descendants_baner-1.webp" alt="Work"
                                    class="descendants__works-thumb">
                                <div class="descendants__works-text">
                                    <h3 class="descendants__works-title">Roman Bordun</h3>
                                </div>
                                <div class="descendants__works-descr">
                                    <div class="descendants__works-name">
                                        <span class="descendants__works-author">Documentary</span>
                                    </div>
                                    <div class="descendants__works-dates">
                                        <span class="descendants__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->

                    <!-- 2 -->
                    <a href="#!" class="descendants__works-link">
                        <div class="descendants__works-card">
                            <div class="descendants__works-pic">
                                <img src="../../image/descendants_baner-2.webp" alt="Work"
                                    class="descendants__works-thumb">
                                <div class="descendants__works-text">
                                    <h3 class="descendants__works-title">Daniil Russov</h3>
                                </div>
                                <div class="descendants__works-descr">
                                    <div class="descendants__works-name">
                                        <span class="descendants__works-author">Documentary</span>
                                    </div>
                                    <div class="descendants__works-dates">
                                        <span class="descendants__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 2 -->
                </div>

                <div class="descendants__works-cards">
                    <!-- 1 -->
                    <a href="#!" class="descendants__works-link">
                        <div class="descendants__works-card">
                            <div class="descendants__works-pic">
                                <img src="../../image/descendants_baner-3.webp" alt="Work"
                                    class="descendants__works-thumb">
                                <div class="descendants__works-text">
                                    <h3 class="descendants__works-title">George Ivanchenko</h3>
                                </div>
                                <div class="descendants__works-descr">
                                    <div class="descendants__works-name">
                                        <span class="descendants__works-author">Documentary</span>
                                    </div>
                                    <div class="descendants__works-dates">
                                        <span class="descendants__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 1 -->

                    <!-- 2 -->
                    <a href="#!" class="descendants__works-link">
                        <div class="descendants__works-card">
                            <div class="descendants__works-pic">
                                <img src="../../image/descendants_baner-4.webp" alt="Work"
                                    class="descendants__works-thumb">
                                <div class="descendants__works-text">
                                    <h3 class="descendants__works-title">Petro Chekal</h3>
                                </div>
                                <div class="descendants__works-descr">
                                    <div class="descendants__works-name">
                                        <span class="descendants__works-author">Documentary</span>
                                    </div>
                                    <div class="descendants__works-dates">
                                        <span class="descendants__works-date">19.07.2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 2 -->
                </div>
                <a href="#!" class="descendants__button">20 more authors</a>
            </div>
        </section>

        <!-- footer start -->
        <footer class="footer">
            <div class="wrapper">
                <div class="footer__sponsor">
                    <img src="../../image/footer-img-1.webp" alt="DW Academy" class="academy footer__sponsor-image">
                    <img src="../../image/footer-img-2.webp" alt="Together" class="together footer__sponsor-image">
                    <img src="../../image/footer-img-3.webp" alt="Fit" class="fit footer__sponsor-image">
                </div>
                <div class="footer__descr">
                    <div class="footer__project">
                        <p class="footer__project-sub">Created with the financial support of the European Union, its
                            content is
                            solely the responsibility of DW Akademie/ Media Fit Program for Southern and East Ukraine
                            Programs of Mediafit of Southern and Eastern Ukraine and do not necessarily reflect the
                            views
                            of the European Union</p>
                    </div>
                    <div class="footer__social">
                        <a href="#!" class="footer__link footer__instagram">instagram</a>
                        <a href="#!" class="footer__link footer__facebook">facebook</a>
                    </div>
                    <div class="footer__copy">
                        <span>COPYRIGHT 2023 </span>
                        <h5 class="footer__copy-label">bY KORINNYA</h5>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->
    </main>
    <!-- main -->

    <!-- link jquery file -->
    <script src="../../libs/jquery-3.6.0.min.js"></script>
    <!-- link js file -->
    <script src="./descendants.js"></script>
</body>

</html>