<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="../../image/logo-min.png" type="image/x-icon">
    <!-- style.css -->
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

    <!-- Header start -->
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="../../image/logo-min.png" alt="Коріння">
                    </a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../series/series.html" class="header__link">Series</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../../components/exhibition/exhibition.html" class="header__link">EXHIBITIONS</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../forefathers/forefathers.html" class="header__link">forefathers</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="../descendants/descendants.html" class="header__link">Descendants</a>
                        </li>
                        <li class="header__item">
                            <img src="../../image/menu-item.png" alt="item" class="header__item-pic">
                            <a href="./about.html" class="header__link">About us</a>
                        </li>
                    </ul>
                    <div class="header__nav-menu">
                        <a href="/" class="header__logo-link">
                            <img src="../../image/logo-close.svg" alt="Коріння">
                        </a>
                        <h2 class="header__nav-search">search</h2>
                        <h2 class="header__nav-close">close</h2>
                    </div>
                    <div class="header__nav-lang">
                        <a href="#!" class="language header__nav-lang_ua ">укр</a>
                        <a href="#!" class="language header__nav-lang_en">eng</a>
                    </div>
                </nav>
                <div class="header__menu menu">
                    Menu
                </div>
            </div>
        </div>
    </header>
    <!-- Header end -->


    <!-- main -->
    <main class="main">
        <section class="about">
            <div class="wrapper">
                <div class="about__wrapper">
                    <div class="about__wrapper-text">
                        <h1 class="about__wrapper-title">Korinnia -</h1>
                        <p class="about__wrapper-descr"> is a documentary and reflexive community that aims to unite
                            Ukrainian photographers to develop and popularize Ukrainian documentary photography.
                        </p>
                        <p class="about__wrapper-descr"> Our team consists of young photographers who jointly explore
                            the history of Ukrainian photography. 
                            The community's activities include the creation of cultural projects, events, and
                            exhibitions.
                        </p>
                        <p class="about__wrapper-descr"> It is important for us to give the opportunity to express,
                            study, and broadcast the views of powerful authors for the development of the visual culture
                            of Ukraine.
                            The starting point of our community is to try to open new perspectives for the younger
                            generation and inspire them to create and reflect.
                        </p>
                    </div>
                    <div class="about__wrapper-photo">
                        <img src="../../image/about-photo-1.webp" alt="Photo About">
                    </div>
                </div>
            </div>
        </section>

        <section class="contact">
            <div class="wrapper">
                <div class="form__wrapper">
                    <div class="form__wrapper-photo">
                        <img src="../../image/about-photo-2.webp" alt="Photo About">
                    </div>
                    <div class="form__wrapper-contact">
                        <h3 class="form__wrapper-contact_title">Contact us</h3>
                        <p class="form__wrapper-contact_descr">If you want to share your vision and become part of the
                            Roots, leave your contacts and describe your project or photo story.</p>
                        <form>
                            <input name="name" placeholder="Name" class="name" required />
                            <input name="surname" placeholder="Surname" class="surname" required />
                            <input name="emailaddress" placeholder="E-mail" class="email" type="email" required />
                            <input name="phone" placeholder="Phone number" class="surname" type="phone" required />
                            <textarea style="overflow:hidden;" rows="4" cols="50" name="subject" placeholder="Message" class="message"
                                required></textarea>
                            <button name="submit" class="btn" type="submit">Let's get in touch</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="description">
            <div class="wrapper">
                <p class="description-text">
                    Hello! <br>
                    The Korinnia platform was created to distribute and broadcast materials about contemporary Ukrainian
                    documentary photography and is a powerful tool for researching the processes of contemporary visual
                    culture. <br>
                    We are happy to share our research and provide access to our materials, so we ask you to use the
                    rules of reprinting when using our content, namely: <br>
                    1. Reprints must be up-to-date and completely truthful and reliable.<br>
                    2. Reprints should begin with an author's link to the original article.<br>
                    3. The reprint should reflect the identity of the original text.<br>
                    4. The reprint must be checked for compliance with copyright and third-party copyrights.<br>
                    5. The reprint must be fully posted on your website or blog.<br>
                    6. You must put a banner or text link back to the original site or article.<br>
                    7. Reprints should not be used for profit. It is forbidden to use the material for commercial
                    purposes without the author's permission.<br>
                    8. It is not forbidden to change the format and content of the material, but the material should not
                    be subjectively distorted.
                </p>
                <p class="description-resp">
                    Thank you for your respect for our team and cool projects!
                </p>
            </div>
        </section>

        <!-- footer start -->
        <footer class="footer">
            <div class="wrapper">
                <div class="footer__sponsor">
                    <img src="../../image/footer-img-1.webp" alt="DW Academy" class="academy footer__sponsor-image">
                    <img src="../../image/footer-img-2.webp" alt="Together" class="together footer__sponsor-image">
                    <img src="../../image/footer-img-3.webp" alt="Fit" class="fit footer__sponsor-image">
                </div>
                <div class="footer__descr">
                    <div class="footer__project">
                        <p class="footer__project-sub">Created with the financial support of the European Union, its
                            content is
                            solely the responsibility of DW Akademie/ Media Fit Program for Southern and East Ukraine
                            Programs of Mediafit of Southern and Eastern Ukraine and do not necessarily reflect the
                            views
                            of the European Union</p>
                    </div>
                    <div class="footer__social">
                        <a href="#!" class="footer__link footer__instagram">instagram</a>
                        <a href="#!" class="footer__link footer__facebook">facebook</a>
                    </div>
                    <div class="footer__copy">
                        <span>COPYRIGHT 2023 </span>
                        <h5 class="footer__copy-label">bY KORINNYA</h5>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->
    </main>
    <!-- main -->

    <!-- link jquery file -->
    <script src="../../libs/jquery-3.6.0.min.js"></script>
    <!-- link js file -->
    <script src="./about.js"></script>
</body>

</html>